<%= link_to 'New Post', new_post_path %>

<% @posts.each do |post| %>
  <div>
    <h2><%= post.title %></h2>
    <p><%= post.body %></p>
    <%= link_to 'Edit', edit_post_path(post), data: { turbo_frame: "turbo-frame-modal"} %>
    <%= link_to 'Open', post_path(post) %>
  </div>
<% end %>