<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-refresh-method" content="morph">
    <meta name="turbo-refresh-scroll" content="preserve">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <%= yield %>
  </body>
  <div class="hidden z-10 w-full h-screen bg-gray-100 fixed top-0 left-0" data-controller="modal" data-modal-target="modal">
      <%= turbo_frame_tag "turbo-frame-modal", target: "_top", data: { "modal-target": "frame" } %>
  </div>
</html>
